.About {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.MuiBox-root {
  margin: 20px;
  border: solid #006d77 1px;
  background-color: #c9e4e7;
}
