.regis{
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  border-radius: 30px;
  background: #006D77;
  height: 500px;
  overflow: auto;
}


.register {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.inputRegister {
  margin: 5px;
  background: none;
  border: none;
  border-bottom: 1px solid #6e7f80;
  color: black;
  height: 40px;
  font-size: 16px;
  width: 200px;
}

input:focus {
  outline: none;
}

.flexRow {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.flexColumn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.errorRegister {
  margin: 0;
  color: red;
  font-size: 14px;
  margin-top: -5px;
}

.react-date-picker {
  margin: 1px;
  background: none;
  border: none;
  color: black;
  height: 20px;
  width: 200px;
  border-bottom: 1px solid #6e7f80;
}

.react-date-picker__wrapper {
  display: flex;
  flex-grow: 1;
  flex-shrink: 0;
  border: none !important;
}

.Datepicker {
  margin: 0;
  padding: 0;
  color: #98afb1;
  margin-top: 5px;
  font-size: 16px;
}

.button-31 {
  background-color: #EDF6F9;
  color: black;
  border: none;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  display: inline-block;
  width:auto;
  margin-bottom: 10px;
}

.button-31:hover,
.button-31:focus {
  opacity: 0.75;
}

.h1Register {
  font-size: 50px;
  font-weight: bold;
  margin-top: 50px;
  text-align: center;
  color: white;
}

.pRegister {
  color: white;
}

