.App {
  text-align: center;
  align-items: center;
  justify-content: center;
}
/* 
.register {
  display: flex;
  margin: 50px;
  flex-direction: column;
  width: 20%;
  justify-content: center;
  align-items: center;
}

.login {
  display: flex;
  margin: 50px;
  flex-direction: column;
  width: 20%;
  justify-content: center;
  align-items: center;
} */

input {
  margin: 10px;
}
