.App {
  text-align: center;
  align-items: center;
  justify-content: center;
}

.mt {
  margin-top: 10px;
}

.presentationAcceuil {
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: 6vw;
}

.Presentation {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 93vh;
  color: white;
  font-family: 'Source Code Pro', monospace;

  font-family: 'VT323', monospace;
}

.Home {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-height: 90vh;
}

.NavBar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #006D77;
  height: 10vh;
  margin: 0px;
  top: 0;
  width: 100%;
}


.navigation {
  display: flex;
  height: 100%;
  align-items: center;

}

.logos {
  display: flex;
  float: left;
  margin: 0;
  float: left;
  height: 16vh;
  width: auto;
}

.separator {

  border-left: 1vh solid white;
  height: 10vh;
  margin-left: 5vh;
  margin-right: 2vh;
}

.connexion {
  margin-right: 10px;
}

svg {
  width: 7vh;
  height: 7vh;
  margin: 5vh;
  color: white;
}

@media(min-aspect-ratio: 16/9) {
  .videoTag {
    width: 100%;
    height: auto;
  }

}

@media(max-aspect-ratio: 16/9) {
  .videoTag {
    width: auto;
    height: 100%;
  }

}

.videoTag {
  position: fixed;
  z-index: -1;
  -webkit-filter: grayscale(100%);
  /* Safari 6.0 - 9.0 */
  filter: white(100%);
  opacity: 1;
  background-size: cover;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

.PresentationTitre {
  font-size: 8vw;
  font-weight: bold;
  margin-top: 50px;
  text-align: center;
}

.footer{
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
  background-color: #006D77;
}

